body
{
	width: 920px;
	margin: 0 auto;
	text-align: center;
}

#header, #footer
{
	margin: 10px;
}

#footer
{
	color: #aaa;
}

.todo-list
{
	margin: 10px 0;
}

.todo
{
	padding: 5px;
}

.completed
{
	text-decoration: line-through;
}

table
{
	width: 50%;
	margin: 0 auto;
}