/**
 * general page and layout styles
 */
html 
{
	background: url(/images/trees_blur.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$max-width : 920px;

body
{
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
	background: transparent;
	color: #fff;
}

$bg: 20;
#container
{
	background: rgba($bg, $bg, $bg, 0.85);
	padding: 10px;
	margin: 20px auto 50px auto;
	text-align: center;
}

header
{
	margin: 10px;
}

footer
{
	z-index: -1;
	position: fixed;
	bottom: 0;
	width: $max-width;
	text-align: center;
	margin: 0 auto;
	font-size: 12pt;
	inner
	{
		padding: 30px;
	}
	p
	{
		color: #999;
		transition: color 1s;
	}
	p:hover
	{
		color: #fff;
	}
}

#errors
{
	max-width: 350px;
	margin: 0 auto 15px auto;
	padding: 10px;
	color: #000;
}

#add_todo
{
	width: 600px;
}

.form-control
{
	color: #222;
}

.todo-list
{
	margin: 10px 0;
}

.todo
{
	padding: 5px;
}

.todo_title
{
	font-size: 13pt;	
}

.completed
{
	text-decoration: line-through;
}

#separator
{
	margin-left: 7px;
}

@mixin border-radius ($radius)
{
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.rounded { @include border-radius(6px); }